* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FCFAF6;
}

.header {
  background-color: transparent;

  .list {
    display: flex;
    justify-content: start;
    padding: 15px;

    .item {
      margin-left: 8rem;
      font-size: 20px;
    }

    .first {
      margin-left: 0;
    }
  }

  .hr {
    opacity: 20%;
  }
}

.section-1 {
  display: flex;
  flex-direction: column;

  .annonce {
    margin-left: 3%;
    margin-top: 20px;
    width: 94%;
    height: fit-content;
    background-color: #F6F0E4;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

    .title-annonce {
      padding: 20px;
    }

    .link-annonce {
      padding: 20px;
      text-decoration: underline;
    }
  }

  .comment {
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
  }

  .title {
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
  }

  .link-join {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
  }

  .illustration {
    margin-top: 40px;
  }
}


.what-we-do {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px 12%;

  .align {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }

  .h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
  }

  .details {
    text-align: center;
    margin-top: 120px;
  }

  .detail {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
  }

  .article {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 25%;
    height: fit-content;
    padding: 24px;

    .title-article {
      font-size: 15px;
      text-align: center;
    }

    .content-article {
      font-size: 24px;
      text-align: center;
      margin-top: 40px;
    }

    .description-article {
      text-align: center;
      font-size: 16px;
      margin-top: 40px;
    }
  }
}

.image {
  margin-top: 80px;
}

.news {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 6%;

  .h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
  }

  .results {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    width: 100%;
    max-width: 1500px;
    margin-top: 60px;
    padding: 0;

    .align {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 40px 60px;
      gap: 40px;
    }

    .img-results {
      flex: 1;
      min-width: 300px;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        display: block;
      }
    }

    .details {
      flex: 1;
      min-width: 300px;
      text-align: center;
      color: #333;


      .content-article {
        font-size: 28px;
        font-weight: 500;
        margin: 20px 0;
      }

      .description-article {
        opacity: 0.8;
      }

    }
  }

  .align {
    display: flex;
    justify-content: space-between;

    .container {

      background-color: transparent;
      border: 1px solid #e5e5e5;
      border-radius: 12px;
      width: 45%;
      max-width: 1100px;
      margin: 30px 0px;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 30px;
      padding: 20px 30px;

      .img-results {
        & img {
          width: 100%;
        }
      }

      .img-spotlight {
        & img {
          width: 50%;
        }
      }

      .content-article {
        font-size: 24px;
        text-align: center;
      }

      .description-article {
        opacity: 0.8;
      }


    }
  }
}

.regional-results {
  max-width: 62%;
  margin: 80px 20%;
  display: flex;
  flex-direction: column;
  gap: 70px;

  .h2 {
    font-size: 60px;
    font-weight: 400;
  }

  .description {
    font-size: 16px;
    color: #444;
    opacity: 0.8;
  }

  .align {
    display: flex;
    justify-content: center;
    gap: 160px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title-speech {
        font-size: 16px;
        color: #555;
      }

      .list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 60px;

        .liste {
          font-size: 26px;
          color: #111;
          padding-left: 16px;
          border-left: 2px solid #e2e2e2;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  color: #fff;
  overflow: hidden;

  .footer-hero {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      display: block;
    }
  }

  .footer-bottom {
    background: #555;
    padding: 32px 6% 48px 0; 
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .socials {
      display: flex;
      gap: 20px;
      font-size: 18px;
      margin-top: 10px;
      margin-left: 18px;

      i {
        color: #fff;
        cursor: pointer;
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      gap: 40px;
      width: 100%;
      padding: 0 6% 0 0; 

      .slogan {
        font-size: 28px;
        margin: 0;
        color: #fff;
      }

      .contact {
        text-align: right;
        font-size: 22px;
        line-height: 1.6;

        p {
          margin: 0;
        }
      }
    }
  }
}
