* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FCFAF6;
}

.header {
  background-color: transparent;

  .list {
    display: flex;
    justify-content: start;
    padding: 15px;

    .item {
      margin-left: 8rem;
      font-size: 20px;
    }

    .first {
      margin-left: 0;
    }
  }

  .hr {
    opacity: 20%;
  }
}

.section-1 {
  display: flex;
  flex-direction: column;
  
  .annonce {
    margin-left: 3%;
    margin-top: 20px;
    width: 94%;
    height: fit-content;
    background-color: #F6F0E4;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

    .title-annonce {
      padding: 20px;
    }

    .link-annonce {
      padding: 20px;
      text-decoration: underline;
    }
  }

  .comment {
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
  }

  .title {
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
  }

  .link-join {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
  }
  .illustration {
    margin-top: 40px;
  }
}

