$color-bg: #fcfaf6;
$color-primary: #555;
$color-accent: #f6f0e4;
$color-border: #e5e5e5;
$color-text: #111;
$color-muted: #444;
$color-white: #fff;

$font-main: 'Ag', sans-serif;

@font-face {
  font-family: 'Ag';
  src: url('./fonts/Ag-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


$radius-md: 10px;
$padding-section: 60px;
$transition-fast: 0.2s;

$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 480px;